// color var
$primary-color:#FDF5EB ;
$secondary-color:#EAA636;
$white-color:#ffffff;
$black-color:#000000;
$primary-heading-color:#1E1916;
$secondary-heading-color:#EAA636 ;
$para-color:#545454;
$footer-light-color:rgba(255, 255, 255, 0.5);

// font size
$xx-large-size: 72px;
$x-large-size: 56px;
$large-size: 48px;
$medium-size:40px;
$xx-regular-size:24px;
$x-regular-size:20px;
$regular-size:18px;
$small-size:16px;

// line height
$x-large-height:1.5;
$large-height:1.2;

// font wieght
$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;

// font famly
$primary-font:"Playfair Display", serif;
$secondary-font:"Open Sans", sans-serif;

// img property
$img-width:100%;
$img-fit:cover;
$img-position:center;

